body,h1 {
    font-family: "Raleway", sans-serif;
}
body, html {
    height: 100vh;
}
.bgimg {
    background-image: url('hero_image.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.logo {
    margin-top: 70vh;
    color: #ffbb00;
    font-size: 500px;
}
.w3-display-middle {
    text-align: center;
}